ul li{
    list-style: none;
    img{
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
    }
}
.mat-toolbar{
    background-color:#111525 ;
}
.text{
    padding: 0.3rem;
}
.mat-icon:hover,
.mat-icon:focus-within{
    color: rgb(7, 143, 255);
    transform: rotate(30deg);
}