<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="stats-cards">
    <mat-card>
        <app-widget-circle></app-widget-circle>
    </mat-card>
    <mat-card>
        <app-widget-circle></app-widget-circle>
    </mat-card>
    <mat-card>
        <app-widget-circle></app-widget-circle>
    </mat-card>
</div>

<mat-divider></mat-divider>
<br>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="rad-area">
    <div fxflex=70%>
        <app-widget-area></app-widget-area>
    </div>
    <div fxflex=30%>
        <mat-card>
            <app-widget-radial></app-widget-radial>
        </mat-card>
    </div>
</div>
<mat-divider></mat-divider>
<br>
<br>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="rad-area">
    <div fxflex=30%>
        <app-widget-advpie></app-widget-advpie>
    </div>
    <div fxflex=70%>
        <app-widget-pie></app-widget-pie>
    </div>
</div>
<mat-divider></mat-divider>
<br>
