#chart {
    // max-width: 380px;
    margin: 5px auto;
    padding: 10px;
    height: 80%;
    border: solid;
    border-radius: 10px;
    width: 90%;
  }
  #chart:hover{
    transform: scale(1.1);

  }