:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 275px;
    color:white;
    background-color: #111525;
}

mat-drawer-container {
    height: 100%;
    background-color:#111525;

}

mat-drawer-content {
    padding: 2rem;
}