:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mat-drawer{
    color:white;
    background-color: #111525;


}
// .mat-drawer::before{
//     content: '';
//     height: 100%;
//     width: 4px;
//     top: 0;
//     right: 0;
//     position: absolute;
//     background-color: chartreuse;
//     opacity: 0;
// }
// .mat-drawer:hover::before{
//     opacity: 1;
// }


.mat-drawer-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color:#0d1535;
    color: white;
}

.mat-drawer-content {
    padding: 3rem;
    height: 100%;
}
#sidenavContainer{
    margin-top: 64px;
}

#sidenav.menu-close{
    width: 70px;
}
#sidenav.menu-open{
    width: 200px;
}