.chart{
  padding: 1rem;
  // color: chartreuse;
  // background-color: rgba(0, 0, 255, 0.842);
  border-radius: 10px;
}
.chart:hover{
  background-color: rgba(226, 19, 245, 0.842);
  transform: scale(1.07);
}